@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    font-weight:200;
    padding:10px;
    background:#07020D;
    color:#F1E9DB;
}

.wrapper {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#app {
    transition:all 1s ease;
    width:80%;
}
.page-outer {
    display:flex;
}

nav {
    width:80%;
    display:flex;
    justify-content: space-between;
    
}
nav div {
    font-size: 30px;
}
nav ul {
    list-style-type: none;
    display:flex;
    
}

nav ul li a {
    display:block;
    background:#1d043c;
    padding:10px;
}


.tables-outer{
    display:flex;
    width:100%;
    justify-content: center;
    padding:5px;

}

.seats-wrapper {
    display:flex;
    flex-direction: row;
}

.tables {
    width:100%;
    background:#5db7de;
}

.page {
    width:100%;
    padding:10px;
    background:#5DB7DE;
}

.inputs > div {
    display:flex;
    justify-content: space-between;
}

.testing {
    padding:5px;border-left:1px solid white;
}
.testing p {
    
    margin-left:5px;
    font-size:14px;
    font-weight:bold;
}


.box {
    display:flex;
    justify-content: center;
    align-items:center;
    border-radius: 3px;
    background-color: green !important;
    width:50px;
    height:50px;
    text-transform:uppercase;
    transition: ease 0.1s;
}
.box-outer {
    padding:2px;
    margin:5px;
}

.box-outer:hover {

}

.tables {
    display: flex;
    flex-direction: row;
}

.box:hover {
    background-color: rgba(0, 128, 0, 0.481) !important;
}

.booked {
    background-color: red;
}

.bookedSoon {
    background-color: yellow;
}

.selectedTable {
    background:rgb(255, 255, 255);
    border-radius:0 5px 5px 5px;
    

}