@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    outline:none;
    border:none;
    text-decoration:none;
}

button {
    padding:10px;
    background:#c2c2c2;
}

input {
    padding:10px;
}

body {
    background-color: rgb(210, 210, 210);
    color: black;
    perspective: 1000px;
}


.wrapper {
}

.app-wrapper {
    margin-left:300px;
    padding:10px;
}

.nav-wrapper {
    position: fixed;
    top:  0;
    color:white;
    width:250px
}

nav {
    width:100%;
}

nav div {
    background:#1d043c;
    width:90%;
    padding:10px;
}

nav div:hover {
    transition: 0.4s ease;
    width:100%;
    background-color: #3f1474;
}

nav div:active {
    transition: 0.3s ease;
    width:90%;
    background-color: #762ad3;  
}
.sticky {
    position: fixed;
    top: 0;
}

.page-outer {
    display: flex;
}
.page {

}

.inputs {
    
}

.page-archive {
}

.logo {
    background:white;
    width:90%;
}

.logo-box {
}
.logo p {
    font-family: 'Comfortaa', cursive;
    font-size: 80px !important;
    padding: 10px 10px 0px 10px;

    color:black;

    user-select:none;
}

.logo {
    padding-left:10px;
}

.add-booking {
    margin: auto 0;
}

.add-booking button {
    padding: 10px;
    font-size: 30px;
    width: 100%;
}

.inputs label {
    display:blocK;
    font-size:20px;
    padding: 5px 5px 5px 0;
}

.inputs input {
    font-size:25px;
}

.inputs div div {
    display:flex;
    flex-direction:column;
}
.inputs button {
    width:100%;
}

.input-guest div {
    display:flex;
    justify-content: flex-start;
}

.tables-outer {
    display: flex;
    justify-content: center;
    padding: 5px;

}

.box-outer1:nth-child(6) {
    clear: left;
}
.box-outer1:nth-child(11) {
    clear: left;
}
.box-outer1:nth-child(16) {
    clear: left;
}

.seats-wrapper {
    display: flex;
    flex-direction: row;
}

.testing {
    padding: 5px;
    border-left: 1px solid white;
}

.testing p {
    margin-left: 5px;
    font-size: 18px;
}

.box {
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: rgb(83, 201, 83) !important;
    width: 60px;
    height: 60px;
    text-transform: uppercase;
    transition: ease 0.1s;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif !important;
}

.box-outer {
    padding: 2px;
    margin: 5px;

}
.box-outer1 {
    padding: 2px;
    margin: 5px;
    float: left;

}

.tables {
    display: flex;
    flex-direction: row;
}

.box:hover {
    background-color: rgb(102, 222, 102) !important;
}

.booked {
    background-color: rgb(213, 68, 68) !important;
}

.bookedSoon {
    background-color: rgb(220, 220, 65) !important;
}

.booked:hover {
    background-color: rgba(213, 68, 68, 0.763) !important;
}

.bookedSoon:hover {
    background-color: rgba(220, 220, 65, 0.653) !important;
}

.selectedTable {
    background: rgb(255, 255, 255);
    border-radius: 0 5px 5px 5px;


}

.booked-tables-outer .booked-tables {
    max-height: 200px;
    overflow-y: scroll;

}

.box-category-wrapper {
    display:grid;
    grid-template-columns: 1fr;
}

.table-category-label {
    font-weight:bold;
    padding-left:5px;
}

.col {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
/* CUSTOM TABLE WITH GRID */
.table-archive {
}
.table-row {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    transition: 0.1s ease;
    padding: 5px;
    min-width:0;
}

.table-row div {
    display: flex;
    align-items: center;
    min-width:0;
    width:100%;
}

.table-row button {
    padding: 5px;
}

.table-row button:last-of-type {
    margin-left: 5px;
}

.table-row div:first-of-type {
    text-transform: uppercase;
}

.table-row div:last-of-type {
    display: flex;
    justify-content: flex-end;
}

.table-row:nth-child(odd) {
    background: rgba(255, 255, 255, 0.479);
}

.table-row:nth-child(even) {
    background: rgba(255, 255, 255, 0.248);
}

.table-row:hover {
    background: rgba(95, 95, 95, 0.22) !important;
}

.table-labels {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 1fr;
    font-weight: bold;
    background: #41107c;
    color: white;
    padding: 5px;

}

.errors {
    display:flex;
    flex-direction: column;
    font-size:15px;
}

/* ANIMATION classes AND KEYFRAMES */

.animation {

    animation: slideIn 0.3s forwards;
}

.animate-fade-in {
    animation: fadeIn 1s forwards;
}

.animation3 {
    animation: slideInTwo 0.3s forwards;
}

@keyframes slideInError {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-5000px);
        opacity: 0;
        overflow-x: hidden;
    }

    100% {
        transform: translateX(0);
        overflow-x: hidden;
        opacity: 1;
    }
}

@keyframes slideInTwo {
    0% {
        transform: translateX(5000px);
        opacity: 0;
        overflow-x: hidden;
    }

    100% {
        transform: translateX(0);
        overflow-x: hidden;
        opacity: 1;
    }
}

@media only screen and (max-width : 320px) {}

.statistic {
display:flex;
color:white;
align-items:flex-end;
}

.stat-bar {
    margin:1px;
    padding:2px;
    font-weight:bold;
    font-size:10px;
    transition:0.1s ease;
}

.stat-bar:hover {
    font-size:20px;
    opacity:0.8;
}
.stat-label {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    display:flex; 
    align-items:center; 
    padding-top:10px;
    transform:rotateZ(-20deg);
}

.labels {
    display:flex;

}